

.wrapper{
    min-height: 100vh;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
    }
    .screen{
        min-height: 100vh;
    }
    .mainScreen{
        .header{
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            height: 80px;
            background-color: #1C1A77;
            .burger{
                .burgerBtn{
                    margin-left: 44px;
                    margin-right: 459px;
                    width: 30px;
                    color: #fff;
                    // transform-origin: center;
                    transform: rotateZ(180deg);
                }
            }
            .desktopBtn{
                .navBtn{
                    position: relative;
                    font-size: 18px;
                    margin-right: 55px;
                    color: #fff;
                    transition: .2s;
                }
                .navBtn:last-child{
                    margin-right: 0;
                }
                .navBtn::before{
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    background: #ffffff;
                    width: 100%;
                    height: 2px;
                    transition: 0.2s;
                    transform: scaleX(0);
                }
                
                .navBtn:hover::before{
                    width: 100%;
                    transform: scaleX(1);
                }
            }
        }
    }
    .contactScreen{
        position: relative;
        top: 0;
        left: 0;
        min-height: 100vh;
        .bgScreen{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100vw;
            height: 100vh;
            background: #c4c4c4;
            opacity: 0.71;
        }
        .contact{
            position: absolute;
            z-index: 5;
            margin-left: 640px;
            margin-top: 164px;
            font-size: 20px;
            .adress{
                .textAdress{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                }
                .adressSchool{
                    color: #fff;
                }
                margin-bottom: 40px;
            }
            .phone{
                .phoneText{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 24px;
                }
                .phoneNum{
                    color: #fff;
                }
            }
        }
    }
    .informScreen{
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        margin: 0;
        .infromCard{
            cursor: pointer;
            .imgCard{
                width: 32.9vw;
                height: 50vh;
            }
            .textCard{
                .titleSchool{
                    display: flex;
                    position: relative;
                    z-index: 6;
                    font-size: 18px;
                    margin: 0 auto;
                    margin-top: -73px;
                    justify-content: center;
                    align-items: center;
                    width: 367px;
                    height: 69px;
                    color: #fff;
                    background: #1c1a77b8;
                }
            }
        }
    }
       .screenStatic{
        .text{
            font-weight: 500;
            color: #fff;
        }
        .static{
            display: flex;
            margin-top: 20px;
            .zno{
                width: 243px;
                height: 200px;
                display: flex;
                align-items: center;
                flex-direction: column;
                background: #1c1a77;
                .znoText{
                    font-size: 24px;
                    margin-top: 26px;
                }
                .mark{
                    font-size: 36px;
                    margin-top: 46px;
                    font-weight: 500;
                }
            }
            .student{
                display: flex;
                flex-direction: column;
                align-items: center;
                background: #3e2194;
                width: 192px;
                height: 140px;
                border: 1px solid #0000;
                .quanityStudent{
                    margin-top: 11px;
                    font-size: 24px;
                }
                .quanity{
                    margin-top: 25px;
                    font-size: 36px;
                }
            }
            .travel{
                width: 243px;
                height: 220px;
                background: #1a4777;
            }
        }
    }
    .newsScreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        .newsBlock{
            display: flex;
            .news{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: flex-start;
                max-height: 420px;
                width: 280px;
                background: #1c1a77;
                margin: 0 auto;
                border-radius: 1px;
                margin-right: 75px;
                .text{
                    color: #ffffff;
                    text-align: center;
                }
                .imgNews{
                    margin-top: 6px;
                    width: 270px;
                    height: 200px;
                }
                .titleNews{
                    margin-top: 10px;
                    font-size: 24px;
                    font-weight: 500;
                }
                .reviewNews{
                    font-size: 14px;
                    margin-top: 17px;
                    margin: 17px 5px 57px 5px;
                }
            }
        }
        .btn{
            border: 1px solid #000;
            margin-top: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 17px 18px;
            border-radius: 4px;
            .textBlock{
                display: flex;
                align-items: center;
                .text{
                    font-size: 14px;
                    margin-right: 16px;
                }
                .btnArrow{
                    height: 17px;
                    width: 20px;
                }
            }
        }
    }
    .greetingScreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        .symbolSchool{
            width: 480px;
            height: 360px;
        }
        .directorText{
            margin: 50px 23px 0 23px;
            font-size: 18px;
        }
    }
    .footer{
        .menuNav{
            display: flex;
            align-items: center;
            width: 100vw;
            background: #1A4777;
            color: #ffff;
            padding: 21px 48px;
            .btn{
                color: #ffff;
                .link{
                    color: #fff;
                    font-size: 18px;
                }
                .enter{
                    cursor: pointer;
                }
            }
        }
        .contact{
            width: 100vw;
            background: #1c1a77;
            padding: 10px 48px;
            .text{
                color: #fff;
                font-size: 13px;
            }
        }
    }
    
}
.regScreen{
    display: none;
    .skeleton{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 50;
        top: 0;
        left: 0;
        background: #1c1a77;
        color: #fff;
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    .regBody{
            margin: 0 auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 383px;
            border-radius: 23px;
            background: linear-gradient(140.13deg, rgba(28, 26, 119, 0.22) 0%, rgba(255, 193, 7, 0.22) 100%), #FFFFFF;
        }
        .regHeader{
            display: flex;
        }
        .regForm{
            display: flex;
            flex-direction: column;
        }
        .close{
            cursor: pointer;
            position: relative;
            top: -50px;
            right: -140px;
            font-size: 21px;
            color: #1c1a77;
            font-weight: 500;
        }
        .regTitle{
            font-size: 23px;
            color: #1c1a77;
            font-weight: 500;
            margin-bottom: 48px;
        }
        .input{
            padding-left: 25px;
            font-size: 19px;
            color: #1C1A77;
            max-width: 293px;
            height: 45px;
            outline: none;
            border: 3px solid #3E2194;
            border-radius: 49px;
            margin-bottom: 12px;
            background: transparent;
        }
        .input:last-child{
            margin-bottom: 0;
        }
        .input::placeholder{
            font-size: 19px;
            font-weight: 300;
            color: #1C1A77;
        }
        .regBtn{
            margin-bottom: 0;
            .submit{
                font-size: 19px;
                color: #1C1A77;
                font-weight: 400;
                margin-right: 68px;
                margin-left: 56px;
            }
            .forgetPass{
                font-size: 16px;
                color: #1C1A77;
            }
        }
    }
}
.active{
    display: block;
}