.wrapper{
    .header{
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #1C1A77;
        .burger{
            .burgerBtn{
                margin-left: 44px;
                margin-right: 459px;
                width: 30px;
                color: #fff;
                // transform-origin: center;
                transform: rotateZ(180deg);
            }
        }
        .btn{
            .navBtn{
                position: relative;
                font-size: 18px;
                margin-right: 55px;
                color: #fff;
                transition: .2s;
            }
            .navBtn:last-child{
                margin-right: 0;
            }
            .navBtn::before{
                content: "";
                position: absolute;
                bottom: -5px;
                right: 0;
                background: #ffffff;
                width: 100%;
                height: 2px;
                transition: 0.2s;
                transform: scaleX(0);
            }
            
            .navBtn:hover::before{
                width: 100%;
                transform: scaleX(1);
            }
            .active::before{
                content: "";
                position: absolute;
                bottom: -5px;
                right: 0;
                background: #ffffff;
                width: 100%;
                height: 2px;
                transition: 0.2s;
                transform: scaleX(1);
            }
        }
    }
    .main{
        display: flex;
        margin-top: 126px;
        .mapSite{
            display: flex;
            flex-direction: column;
            margin-left: 39px;
            margin-right: 200px;
            cursor: pointer;
            .btnAside{
                font-size: 24px;
                padding: 11px 38px;
                background: #fff9f9;
            }
            .active{
                position: relative;
            }
            .active::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 6px;
                height: 50px;
                background: #1C1A77;
                border-radius: 1px;
            }
        }
        .content{
            .contentItem{
                display: none;
                .about{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .contentTitle{
                        font-size: 36px;
                        margin-bottom: 51px;
                    }
                    .contentImg{
                        width: 483px;
                        height: 269px;
                    }
                }
            }
            .active{
                display: block;
            }
        }
    }
}